.container-fluid
{
    padding-top: 15px;
}

.inline{
    display: inline;
}

.inline-block
{
    display: inline-block;
}

.vr-middle
{
    display: table-cell;
    vertical-align: middle;
}

.hide
{
    display: none;
}

#toast-container
{
    position: fixed;
    right: 0;
    top: 25%;
    padding: 0px 20px 20px 0px;
}
