/node_modules
/public_html/hot
/public_html/storage
/storage/*.key
/storage/fonts/cache/*
!/storage/fonts/cache/.gitkeep
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
