.fotorama,
.fotorama__stage,
.fotorama__stage__shaft,
.input-container
{
    overflow: visible;
}

.fotorama__nav__shaft
{
    background-color: #C0C0C0;
}

.controls-top,
.controls-left,
.controls-right{
    position: fixed;
}

.controls-top,
.controls-bottom{
    display: grid;
    width: 100%;
}

.controls-left,
.controls-right
{
    height: 100%;
}

.controls-top
{
    top: -40px;
}

.controls-left
{
    left: -46px;
}

.controls-right
{
    right: -46px;
}

.controls-top .btn-group
{
    margin: 0px auto 2px auto;
}

.controls-bottom .btn-group
{
    margin: 2px auto 0px auto;
}

.album-pages-container
{
    background-image: url('/files/images/page-bg.jpg');
    background-repeat: repeat;
}

.album-pages-container .input-container,
.album-pages-container .background-container
{
    position: fixed;
    margin: 0px;
    padding: 0px;
    display: grid;
}

.album-pages-container .input-container input
{
    background: transparent;
    border: none;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}

.album-pages-container .input-container input::placeholder
{
    color: inherit;
    font: inherit;
}

.album-pages-container .input-container input:focus
{
    border: 1px solid #b8daff;
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}

.album-pages-container .background-container .plugin-container.unloaded .cr-boundary
{
    background-color: #aaaaaa;
    opacity: 0.5;
}

.album-pages-container .background-container .background-input
{
    display: none;
}

input.cr-slider:hover
{
    cursor: pointer;
}
