.step
{
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-bottom: 70px;
}

.step img
{
    opacity: 1;
}

.step-1
{
    background-image: url('/files/images/album/steps/step-1.png');
}

.step-2
{
    background-image: url('/files/images/album/steps/step-2.png');
}

.step-3
{
    background-image: url('/files/images/album/steps/step-3.png');
}

.step-1.active
{
    background-image: url('/files/images/album/steps/step-1-active.png');
}

.step-2.active
{
    background-image: url('/files/images/album/steps/step-2-active.png');
}

.step-1.completed
{
    background-image: url('/files/images/album/steps/step-1-completed.png');
}

.step-2.completed
{
    background-image: url('/files/images/album/steps/step-2-completed.png');
}

.step-content
{
    display: none;
}

.step-content.active
{
    display: initial;
}

.fotorama,
.fotorama__stage,
.fotorama__stage__shaft,
.input-container,
.background-container,
.photo-container
{
    overflow: visible;
}

.fotorama__nav__shaft
{
    background-color: #C0C0C0;
}

.cr-viewport
{
    border: none !important;
}

.controls-top,
.controls-left,
.controls-right{
    position: fixed;
}

.controls-top,
.controls-bottom{
    display: grid;
    width: 100%;
}

.controls-left,
.controls-right
{
    height: 100%;
}

.controls-top
{
    top: -40px;
}

.controls-top.has-zoom
{
    top: -64px;
}

.controls-left
{
    left: -46px;
}

.controls-left.has-zoom
{
    left: -66px;
}

.controls-right
{
    right: -46px;
}

.controls-right.has-zoom
{
    right: -68px;
}

.controls-top .btn-group
{
    margin: 0px auto 2px auto;
}

.controls-bottom .btn-group
{
    margin: 2px auto 0px auto;
}

.zoom-container-horizontal
{
    margin: auto auto;
    width: calc(100% - 30px);
    padding-top: 5px;
}

.controls-bottom .zoom-container-horizontal{
    padding-top: 8px;
}

.zoom-container-vertical
{
    margin-top: 15px;
    height: calc(100% - 30px);
}

.zoom-container-vertical .zoom
{
    height: 100%;
}

.controls-bottom .zoom-container-horizontal
{
    padding-bottom: 2px;
}

.controls-left .zoom-container-vertical
{
    float: right;
    padding-left: 5px;
}

.controls-right .zoom-container-vertical
{
    float: left;
    padding-right: 5px;
}

.album-pages-container
{
    background-image: url('/files/images/page-bg.jpg');
    background-repeat: repeat;
}

.album-pages-container .input-container,
.album-pages-container .background-container,
.album-pages-container .photo-container
{
    position: fixed;
    margin: 0px;
    padding: 0px;
    display: grid;
}

.album-pages-container .input-container input
{
    background: transparent;
    border: none;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}

.album-pages-container .input-container input::placeholder
{
    color: inherit;
    font: inherit;
}

.album-pages-container .input-container input:focus
{
    border: 1px solid #b8daff;
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}

.album-pages-container .background-container .plugin-container.unloaded .cr-boundary,
.album-pages-container .photo-container .plugin-container.unloaded .cr-boundary
{
    background-color: #aaaaaa;
    opacity: 0.5;
}

.album-pages-container .background-container .background-input,
.album-pages-container .photo-container .photo-input
{
    display: none;
}

.base-view
{
    display: none;
}

.view
{
    position: fixed;
}
